.gallery_container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}
.gallery_container article{
    border:1rem solid transparent;
    transition: var(--transition);
    border-radius: 1rem;
}
.gallery_container article:hover{
    border-color:var(--color-gray-500);
}

@media screen and (max-width:1024px){
    .gallery_container{
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
    .gallery_container article{
        border:0;
    }
}
@media screen and (max-width:600px){
    .gallery_container{
        grid-template-columns: 1fr;
        gap:2rem;
    }
    .gallery_container article{
        width:75%;
        margin: 0 auto;
    }
    .gallery_container article:hover{
        box-shadow: 0 0px 15px rgba(25,25,266,0.9);
    
    }
}